<div class="resource-container">
  <div class="resource-top-section">
    <h1>{{resourceCtrl.title}}</h1>
  </div>
  <div class="resource-bottom-section">
    <div>
      <input type="button" class="btn btn-primary add-button" ng-click="resourceCtrl.addResourceForm()" value="Add New Resource"/>
    </div>

    <!-- table header -->
    <div class="resources-table-header">
      <div class="col-sm-3">
        <span class="title">Resource Name</span>
      </div>
      <div class="col-sm-3">
        <span class="title">Link</span>
      </div>
      <div class="col-sm-2">
        <span class="title">Type</span>
      </div>
      <div class="col-sm-2">
        <span class="title">Created</span>
      </div>
      <!-- For spacing -->
      <div class="col-sm-2">

      </div>
    </div>

    <!-- content -->
    <div class="resources-table-content">
      <div class="row" ng-repeat="resource in resourceCtrl.resources">
        <div ng-switch on="resource.edit">
          <div ng-switch-when="true">
            <!-- code to render resource in edit mode -->
            <div class="col-sm-3">
              <input type="text" class="form-control" placeholder="Enter a name for this resource..." ng-value="resource.name" ng-model="resource.name"/>
            </div>
            <div class="col-sm-3 move-left">
              <input class="form-control" type="text" placeholder="Enter the link to this resource..." ng-value="resource.link" ng-model="resource.link"/>
            </div>
            <div class="col-sm-2">
              <!-- Bootstrap dropdown for type -->
              <div class="btn-group" uib-dropdown>
                <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                  {{resource.type.length == 0 ? 'Type' : resource.type}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                  <li ng-repeat="type in resourceCtrl.types">
                    <span class="types" ng-click="resourceCtrl.selectType(resource, type)">{{type}}</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2 move-left">
              <input type="text" class="form-control" ng-value="resource.date" disabled="true"/>
            </div>
            <div class="col-sm-2">
              <i class="fa fa-plus-circle plus" aria-hidden="true" ng-click="resourceCtrl.saveResource(resource)"></i>
              <i class="fa fa-minus minus" aria-hidden="true" ng-click="resourceCtrl.deleteResource(resource)"></i>
            </div>
          </div>

          <div ng-switch-default>
            <!-- code to render resource in display mode (aka edit state false) -->
            <div class="col-sm-3">
              {{resource.name}}
            </div>
            <div class="col-sm-3">
              <a href={{resource.link}} target="_blank">{{resource.link}}</a>
            </div>
            <div class="col-sm-2">
              {{resource.type}}
            </div>
            <div class="col-sm-2">
              {{resource.date}}
            </div>
            <div class="col-sm-2">
              <i class="fa fa-pencil-square-o plus" aria-hidden="true" ng-click="resourceCtrl.editResource(resource)"></i>
              <i class="fa fa-minus minus" aria-hidden="true" ng-click="resourceCtrl.deleteResource(resource)"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

